#img-bg{
    background-image: url('../../assets/img/cat.jpeg');
    min-height: 695px;
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

a{
	color:#122A57;
	font-weight: bold;
	text-decoration: none;
	
}
a:hover{
	color:#0b20f4;
}
